#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 7px;
    margin-left: -17px;
    margin-top: 2px;
    content: "";
    /* Spotify wave thingy fix */
    /*background-color: hsla(var(--spotify-vencord-text)/1);*/
    position: absolute;
}

#vc-spotify-song-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}

#vc-spotify-player {
    height: 50px;
    background: transparent !important;
    position: relative;
    transition: height 0.1s ease;
    padding: 7px !important;
    padding-top: 8px !important;
}

#vc-spotify-player:hover {
    height: 115px;
}

#vc-spotify-progress-bar {
    margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
    height: 100%;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
    margin-left: 15px;
}

#vc-spotify-player #vc-spotify-titles .size14_e8b2ab {
    font-size: 13px;
}
.theme-dark #vc-spotify-song-title::before,
.theme-dark #vc-spotify-song-title + div::before,
.theme-dark #vc-spotify-song-title + div + div::before {
    background-color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light #vc-spotify-song-title::before,
.theme-light #vc-spotify-song-title + div::before,
.theme-light #vc-spotify-song-title + div + div::before {
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.theme-light #vc-spotify-player .colorStandard_d1aa77 {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark #vc-spotify-player .colorStandard_d1aa77 {
    color: rgba(255, 255, 255, 0.8);
}

.theme-dark .vc-spotify-artist, .theme-dark  .vc-spotify-album {
    color: rgba(255, 255, 255, 0.8);
}
.theme-light .vc-spotify-artist, .theme-light  .vc-spotify-album {
    color: rgba(0, 0, 0, 0.8);
}

#vc-spotify-player .barFill_c7a159 {
    background-color: var(--interactive-active);
}
#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
    background-color: var(--interactive-active);
    border-color: var(--interactive-active);
    width: 12px !important;
    height: 12px !important;
    margin-top: 3px;
    opacity: 1 !important;
}
.vc-spotify-progress-time {
    top: 12px;
}
.vc-spotify-button {
    color: var(--interactive-active);
}
.vc-spotify-button:hover {
    background-color: color-mix(
        in srgb,
        var(--interactive-active),
        transparent 75%
    );
}
.vc-spotify-shuffle-on {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-context {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-track {
    color: var(--accent, (-green-360));
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    height: var(--spotify-height);
}

#vc-spotify-progress-bar,
.vc-spotify-button-row {
    opacity: 0;
}

#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
    opacity: 1;
}

#vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    top: -90px;
    left: var(--expanded-margin-left)!important;
    padding-top: 18px;
    margin-left: 0px !important;
    padding-right: 8px;
    width: calc(100% - 16px - var(--expanded-margin-left))!important;
    padding-bottom: 38px;
    border-bottom-left-radius: var(--spotify-image-border-radius);
    border-bottom-right-radius: var(--spotify-image-border-radius);
    padding-left: 8px;
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);

}
.theme-light #vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    backdrop-filter: blur(20px) contrast(80%) brightness(140%);
}
.theme-dark #vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    backdrop-filter: blur(20px) contrast(95%) brightness(80%);
}

#vc-spotify-album-expanded-wrapper
    ~ #vc-spotify-progress-bar
    .vc-spotify-progress-time {
    display: none;
}
#vc-spotify-album-expanded-wrapper {
    margin-left: var(--expanded-margin-left)!important;
    margin-top: -1px;
}

#vc-spotify-album-expanded-wrapper ~ .vc-spotify-button-row {
    top: -136px;
    position: relative;
}

#vc-spotify-album-image {
    border-radius: var(--spotify-image-border-radius);
}

div#vc-spotify-info-wrapper {
    margin-left: var(--small-margin-left)!important;
}
div#vc-spotify-progress-bar {
    margin-left: var(--small-margin-left)!important;
}

#vc-spotify-player {
    border-bottom: 0px;
}
