/**
 * @name AcrylicPopups
 * @version 1.0.0
 * @author _kokussz_, computing_cat
 * @authorId 1177484931623026769, 1063532834805002271
 * @description Turns all popups and modals into acrylic popups
 * @source https://github.com/computer-catt/discord-themes
*/

@import url('https://raw.githubusercontent.com/computer-catt/discord-themes/meow-patch-2/Theme%20code/transparent-popups.css');

/* Config */
:root{
    --blur-popup: 12px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 12px; /*Popup border radius*/
    --radius-context: 12ox; /*Context menu popups radius*/
    /*--pop-up-color: black; /*uncomment for custom Popup color*/ 
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}

/* Added since it is overall just better */
